@charset "UTF-8";
@import "./reset.css";
/* vw 변환 function */
/****** color ******/
/****** 컬러 변수  ******/
/****** mixin ******/
/****** 모듈 ******/
.table_style {
  width: 100%;
  font-size: 4.3596730245vw;
}
.table_style thead tr th {
  font-weight: bold;
}
.paging li a {
  display: block;
}

/* html */
/*
<div className="paging">
  <ul>
    <li>
      <a href="#">aaa1</a>
    </li>
    <li>
      <a href="#">aaa2</a>
    </li>
    <li>
      <a href="#">aaa3</a>
    </li>
    <li>
      <a href="#">aaa4</a>
    </li>
  </ul>
</div>
*/
body {
  background-color: #e1e1e1;
}

#root {
  max-width: 367px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.37);
}

.container {
  width: 100%;
  padding: 0 1.0899182561vw;
  margin: 0 auto;
}

.contents_body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: relative;
  /*
  // $type = "", "row", "column", "row-reverse", "column-reverse"
  //
  // $position-x : "", "left", "center", "right", "between", "around", "evenly"
  //
  // $position-y: "", "top", "center", "bottom", "around", "between", "stretch"
  */
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#login {
  color: #fff;
  font-weight: 700;
}

#main {
  width: 100%;
  height: 100vh;
}
#main > .main_bg {
  width: 100%;
  height: 100%;
  position: relative;
}
#main > .main_bg .main_body {
  position: relative;
  /*
  // $type = "", "row", "column", "row-reverse", "column-reverse"
  //
  // $position-x : "", "left", "center", "right", "between", "around", "evenly"
  //
  // $position-y: "", "top", "center", "bottom", "around", "between", "stretch"
  */
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background-color: #000;
}
#main > .main_bg .main_body .con_img {
  width: 100%;
  height: calc(100% - 9.8092643052vw);
  overflow: hidden;
  /*
  // $type = "", "row", "column", "row-reverse", "column-reverse"
  //
  // $position-x : "", "left", "center", "right", "between", "around", "evenly"
  //
  // $position-y: "", "top", "center", "bottom", "around", "between", "stretch"
  */
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: #000;
  cursor: pointer;
  gap: 0.272479564vw;
}
#main > .main_bg .main_body .con_img .swiper {
  height: 100%;
  width: 100%;
  padding: 14%;
}
#main > .main_bg .main_body .con_img .swiper-pagination {
  bottom: 0;
}
#main > .main_bg .main_body .con_img img {
  height: 100%;
  width: 100%;
  opacity: 0.3;
}
#main > .main_bg .main_body .con_img img:hover {
  opacity: 1;
}

#gnb {
  position: fixed;
  top: 0;
  right: 50%;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
  max-width: 367px;
  background: linear-gradient(45deg, #859398, #283048);
  height: 4.3596730245vw;
  width: 100%;
}
#gnb div {
  /*
  // $type = "", "row", "column", "row-reverse", "column-reverse"
  //
  // $position-x : "", "left", "center", "right", "between", "around", "evenly"
  //
  // $position-y: "", "top", "center", "bottom", "around", "between", "stretch"
  */
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: flex;
  justify-content: flex-start;
  align-content: center;
  height: 100%;
  cursor: pointer;
}
#gnb div img {
  width: 6.5395095368vw;
}

#TabBar {
  position: fixed;
  top: auto;
  right: 50%;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
  max-width: 367px;
  background: linear-gradient(45deg, #859398, #283048);
  height: 4.3596730245vw;
  width: 100%;
  border-radius: 1.0899182561vw 1.0899182561vw 0 0;
}
#TabBar ul {
  /*
  // $type = "", "row", "column", "row-reverse", "column-reverse"
  //
  // $position-x : "", "left", "center", "right", "between", "around", "evenly"
  //
  // $position-y: "", "top", "center", "bottom", "around", "between", "stretch"
  */
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100%;
}
#TabBar ul li {
  /*
  // $type = "", "row", "column", "row-reverse", "column-reverse"
  //
  // $position-x : "", "left", "center", "right", "between", "around", "evenly"
  //
  // $position-y: "", "top", "center", "bottom", "around", "between", "stretch"
  */
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  flex: 1;
  color: #fff;
}
#TabBar ul li:hover {
  border-radius: 1.0899182561vw;
  background: linear-gradient(45deg, #859398, #283048);
}/*# sourceMappingURL=style.css.map */